<header class="container  container--padded">
    <h1 class="heading  heading--three">
        {{#link-to "index" class="is-color-inherited"}}
            {{#if project.title}}{{project.title}}{{else}}{{project.name}}{{/if}}
            <small class="heading__subtext">v{{project.version}}</small>
        {{/link-to}}
    </h1>
    <p>{{project.description}}</p>
</header>
{{outlet}}
{{partial "sidebar"}}