<main>

    <div class="container  container--padded">
        <div class="container__box">
            <h2 class="heading  heading--two  heading--flat">
                <code>{{name}}</code>
                <span class="is-thin">class</span>
                {{~#if static}} &nbsp;<span class="capsule  capsule--static">Static</span>{{/if}}
            </h2>
            <div class="meta">
                <div class="meta__info">Defined in {{#cross-link file=file line=line}}<code>{{file}}:{{line}}</code>{{/cross-link}}</div>
                {{#if isExtended}}
                    <div class="meta__info">Extends {{#link-to "class" extends}}<code>{{extends}}</code>{{/link-to}}</div>
                {{else}}{{#if isInherited}}
                    <div class="meta__info">Extends {{#link-to "class" inherits}}<code>{{inherits}}</code>{{/link-to}}</div>
                {{/if}}{{/if}}
                {{#if module}}
                    <div class="meta__info">Module {{#link-to "module" module}}<code>{{module}}</code>{{/link-to}}</div>
                {{/if}}
                {{#if since}}
                    <div class="meta__info">Added in v{{since}}</div>
                {{/if}}
            </div>
            {{md content=description}}
        </div>
    </div>

    <hr>

    {{#toggle-tabs tabs=tabsObject.data class="tabs"}}
        <div class="container">
            <ul class="list--plain  list--inline-spaced">
                {{#each tabObject in tabsObject.data~}}
                    <li>
                        {{#toggle-tabs-button isActive=tabObject.isActive}}
                            {{#link-to "class" name (query-params tab=tabObject.name item="")
                                class="tabs__button is-size-three"}}
                                {{tabObject.title}}
                            {{/link-to}}
                        {{/toggle-tabs-button}}
                    </li>
                {{~/each}}
            </ul>
            <div class="is-size-five  is-dimmed  is-centered  is-block">
                Show: &nbsp;&nbsp;
                <label for="showInherited" class="is-unit">
                    {{~input type="checkbox" id="showInherited" checked=showInherited~}}
                    &nbsp;Inherited
                </label>
                &nbsp;&nbsp;
                <label for="showProtected" class="is-unit">
                    {{~input type="checkbox" id="showProtected" checked=showProtected~}}
                    &nbsp;Proctected
                </label>
                &nbsp;&nbsp;
                <label for="showPrivate" class="is-unit">
                    {{~input type="checkbox" id="showPrivate" checked=showPrivate~}}
                    &nbsp;Private
                </label>
                &nbsp;&nbsp;
                <label for="showDeprecated" class="is-unit">
                    {{~input type="checkbox" id="showDeprecated" checked=showDeprecated~}}
                    &nbsp;Deprecated
                </label>
            </div>
        </div>
        {{#toggle-tabs-body isActive=indexTabObject.isActive class="tabs__body"}}
            <div class="container  container--section">
                {{#each indexedItem in indexedItems}}
                    <h3>{{indexedItem.data.title}}</h3>
                    <ul>
                        {{#each classitem in indexedItem.classitems}}
                            <li {{bind-attr hidden=classitem.isHidden}}>
                                {{#link-to "class" name (query-params tab=classitem.itemtype item=classitem.queryName)}}
                                    <code>{{classitem.name}}</code>
                                {{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
                {{/each}}
            </div>
        {{/toggle-tabs-body}}
        {{#each indexedItem in indexedItems}}
            {{#toggle-tabs-body isActive=indexedItem.data.isActive class="tabs__body"}}
                <div class="container  container--section  container--padded">
                    {{#each classitem in indexedItem.classitems}}
                        <a {{bind-attr data-query-name=classitem.queryName}}></a>
                        <div class="container__box  container__box--bordered" {{bind-attr hidden=classitem.isHidden}}>
                            {{render "classitem" classitem}}
                        </div>
                    {{/each}}
                </div>
            {{/toggle-tabs-body}}
        {{/each}}
    {{/toggle-tabs}}

</main>