<h3 class="heading  heading--three  heading--flat">
    {{#link-to "class" class (query-params tab=itemtype item=queryName)
        class="container__link-hook"}}&sect;{{/link-to}}
    <code>{{name}}</code>
    {{#if isMethod}}
        {{~#if params}} <code><small>({{list-params data=params}})</small>{{/if}}</code>
        {{~#if isStatic}} &nbsp;<span class="capsule">Static</span>{{/if}}
        {{~#if access}} &nbsp;<span class="capsule capsule--access">{{access}}</span>{{/if}}
    {{else}}
        {{~#if types}} &nbsp;<code class="is-size-four  is-thin  is-dimmed">{{types}}</code>
        {{~else}} &nbsp;<span class="is-size-four  is-thin  is-dimmed">No type specified</span>{{/if}}
        {{~#if access}} &nbsp;<span class="capsule capsule--access">{{access}}</span>{{/if}}
        {{~#if isRequired}} &nbsp;<span class="capsule capsule--required">Required</span>{{/if}}
        {{~#if isWriteOnce}} &nbsp;<span class="capsule capsule--access-two">Write-once</span>{{/if}}
        {{~#if isReadOnly}} &nbsp;<span class="capsule capsule--access-three">Read-only</span>{{/if}}
    {{/if}}
</h3>
<div class="meta">
    {{#if isExtended}}
        <div class="meta__info">
            Defined by {{#link-to "class" extends (query-params tab=itemtype item=queryName)}}<code>{{extends}}</code>{{/link-to}}
            and extended in {{#cross-link file=file line=line}}<code>{{file}}:{{line}}</code>{{/cross-link}}
        </div>
    {{else}}{{#if isInherited}}
        <div class="meta__info">Inherited from {{#link-to "class" inherits (query-params tab=itemtype item=queryName)}}<code>{{inherits}}</code>{{/link-to}}</div>
    {{else}}
        <div class="meta__info">Defined in {{#cross-link file=file line=line}}<code>{{file}}:{{line}}</code>{{/cross-link}}</div>
    {{/if}}{{/if}}
    {{#if since}}
        <div class="meta__info">Added in v{{since}}</div>
    {{/if}}
</div>
{{#if deprecated}}
    {{#if deprecationMessage}}
        {{#block-note type="warning" title="Deprecated"}}
            {{md content=deprecationMessage}}
        {{/block-note}}
    {{else}}
        {{block-note type="warning" title="Deprecated"}}
    {{/if}}
{{/if}}
{{md content=description}}
{{#if todo}}
    <h4>To-dos:</h4>
    <ol>
        {{#each task in todo}}
            <li>{{md content=task}}</li>
        {{/each}}
    </ol>
{{/if}}
{{#if params}}
    <h4>Parameters:</h4>
    <ol class="list--plain">
        {{#each param in params}}
            <li>
                {{render "classitem-param" param}}
            </li>
        {{/each}}
    </ol>
{{/if}}
{{#if default}}
    <h4>Default: <code class="is-thin">{{default}}</code></h4>
{{/if}}
{{#if return}}
    <h4>Returns:</h4>
    <ol class="list--plain">
        <li>
            <p class="heading--flat"><code>{{return.type}}</code></p>
            {{md content=return.description}}
        </li>
    </ol>
{{/if}}
{{#if example}}
    <h4>Example:</h4>
    {{#each example}}{{md content=.}}{{/each}}
{{/if}}